Flask==2.3.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.20
Werkzeug==2.3.7
flask_talisman==1.1.0
flask==2.3.3
pyngrok==6.0.0
flask_cors==4.0.0
flask_wtf==1.1.1
datetime==5.2
flask_jwt_extended==4.5.2
uvicorn==0.23.2
pypl==40.10
paypalrestsdk==1.13.1
stripe==6.4.0
flask_migrate==4.0.5
flask_script==2.0.6
mysql-connector-python==8.1.0